- name: "install ssl-cert, snapd and python3-cryptography"
  apt:
    name:
      - ssl-cert
      - snapd
      - python3-cryptography
    state: present

- name: "remove OS packages"
  apt:
    name:
      - certbot
      - python3-certbot
    state: absent

- name: "install snap core"
  snap:
    name: core
    state: present

- name: "install certbot from snap"
  snap:
    name: certbot
    classic: yes
    state: present

- name: "create logrotate for certbot"
  copy:
    dest: /etc/logrotate.d/certbot
    content: |
      /var/log/letsencrypt/*.log {
          rotate 12
          weekly
          compress
          missingok
      }

# FIXME - temporary tasks to clean up our previously used custom timers/service
- name: "check if custom certbot timer exists"
  stat:
    path: /lib/systemd/system/certbot.timer
  register: custom_timer_file

- name: "stop and disable custom certbot timer if it exists"
  systemd:
    name: certbot.timer
    state: stopped
    enabled: no
  when: custom_timer_file.stat.exists
  failed_when: false

- name: "remove old custom systemd service and timer files"
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /lib/systemd/system/certbot.service
    - /lib/systemd/system/certbot.timer

- name: "reload systemd to clear removed units"
  systemd:
    daemon_reload: yes

# FIXME - end of temporary tasks

- name: "ensure snap certbot renewal timer is started and enabled"
  systemd:
    name: snap.certbot.renew.timer
    state: started
    enabled: yes

- name: "ensure /usr/bin/certbot symlink exists for manual use"
  file:
    src: /snap/bin/certbot
    dest: /usr/bin/certbot
    state: link

- name: "create /etc/letsencrypt"
  file:
    state: directory
    path: /etc/letsencrypt
    owner: root
    group: root
    mode: '0755'

- name: "create /etc/letsencrypt/cli.ini"
  copy:
    force: no
    dest: /etc/letsencrypt/cli.ini
    content: |
      # created by Ansible
      max-log-backups = 0
    owner: root
    group: root
    mode: '0644'

- name: "configure ECC for certs"
  lineinfile:
    path: /etc/letsencrypt/cli.ini
    regexp: 'key-type'
    line: "key-type = ecdsa"

- name: "configure P-384 cipher for certs"
  lineinfile:
    path: /etc/letsencrypt/cli.ini
    regexp: 'elliptic-curve'
    line: "elliptic-curve = secp384r1"

- name: "check whether cert {{ certbot_certname }} exists"
  stat:
    path: "/etc/letsencrypt/live/{{ certbot_certname }}/cert.pem"
  register: p

- name: "get DNS names from certificate"
  when: p.stat.exists
  community.crypto.x509_certificate_info:
    path: "/etc/letsencrypt/live/{{ certbot_certname }}/cert.pem"
  register: certinfo

- name: "DNS names in cert {{ certbot_certname }}"
  when: p.stat.exists
  debug:
    msg: "{{ certinfo.subject_alt_name }}"

- name: "check all DNS names presence in cert {{ certbot_certname }}"
  when: p.stat.exists and certinfo.subject_alt_name is defined
  loop: "{{ [ certbot_hostname ] + certbot_alt_hostnames }}"
  set_fact:
    all_dns_names_included: "{{ all_dns_names_included|default('yes'|bool) and ( 'DNS:'+item in certinfo.subject_alt_name )}}"

- name: "create cert"
  when: (not p.stat.exists) or (not all_dns_names_included)
  include_tasks:
    file: certbot_create.yml
    apply:
      tags:
        - certbot_certs

- name: "find certbot dirs"
  find:
    paths:
      - /etc/letsencrypt/live
      - /etc/letsencrypt/archive
    file_type: directory
    recurse: yes
  register: certbotdirs

- name: "set access to top-level certbot dirs for ssl-cert group"
  file:
    path: "{{ item }}"
    owner: root
    group: ssl-cert
    mode: 0750
  loop:
    - /etc/letsencrypt/live
    - /etc/letsencrypt/archive

- name: "set access to second-level certbot dirs for ssl-cert group"
  file:
    path: "{{ item.path }}"
    owner: root
    group: ssl-cert
    mode: 0750
  loop: "{{ certbotdirs.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: "find certbot private keys"
  find:
    paths: /etc/letsencrypt/archive
    patterns: 'priv*.pem'
    recurse: yes
  register: privkeys

- name: "set access to certbot private keys for ssl-cert group"
  file:
    path: "{{ item.path }}"
    owner: root
    group: ssl-cert
    mode: 0640
  loop: "{{ privkeys.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: "create renewal pre-hook {{ certbot_prehook | basename }}"
  when: certbot_install_hooks
  copy:
    dest: "/etc/letsencrypt/renewal-hooks/pre/{{ certbot_prehook | basename }}"
    src: "{{ certbot_prehook }}"
    mode: 0755

- name: "create renewal post-hook {{ certbot_posthook | basename }}"
  when: certbot_install_hooks
  copy:
    dest: "/etc/letsencrypt/renewal-hooks/post/{{ certbot_posthook | basename }}"
    src: "{{ certbot_posthook }}"
    mode: 0755
